[mysqld]
# --- basics
user = mysql
datadir = /var/lib/mysql
socket = /var/lib/mysql/mysql.sock
pid-file = /var/lib/mysql/mysqld.pid
bind-address = 0.0.0.0

# --- charset / collation
character-set-server = utf8mb4
collation-server = utf8mb4_0900_ai_ci

# --- innodb
innodb_buffer_pool_size = 1G         # adjust: ~50–70% of RAM for DB if mostly MySQL
innodb_log_file_size = 256M
innodb_flush_log_at_trx_commit = 1   # safest (0/2 faster, less durable)
innodb_flush_method = O_DIRECT
innodb_file_per_table = 1

# --- sql mode
sql_mode = STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION

# --- connections
max_connections = 150
wait_timeout = 28800
interactive_timeout = 28800

# --- logs
log_error_verbosity = 2
slow_query_log = ON
long_query_time = 1
log_output = FILE
slow_query_log_file = /var/lib/mysql/slow.log

# --- binary logs (enable for PITR)
server_id = 1
log_bin = /var/lib/mysql-bin/mysql-bin
binlog_expire_logs_seconds = 604800     # 7 days
binlog_format = ROW
gtid_mode = ON
enforce_gtid_consistency = ON

# --- security
local_infile = OFF
symbolic-links = 0

[client]
default-character-set = utf8mb4